/* Add a Stylesheet: (DONE)
- Create a `stylesheet.css` file and source it into the HTML file. (DONE)
- Give the `header` a dark background color and choose a light  color for the text. (DONE)
- Center the text in the `header`. (DONE)
- Give the `main` a light grey background color. (DONE)
- Look up the CSS `background-image` property to learn how to use the provided `record.png` as the background image on your page with a relative path. (DONE)
- Look up CSS `background-repeat` to learn how to fill the body of the page with a repeating image. (DONE)
- Look up CSS `margin` and `padding`. (DONE)
  - Give the `body` a margin of `0`. (This removes the whitespace around the edges of the page.) (DONE)
  - Give the `main` padding of `1em`. (Curious about `em`? Look up CSS units.) (DONE)
Here's an example of what the style could look like: <img src="./example.png"> (UNDERSTOOD)
__STRETCH GOAL:__ Use CSS style classes vs element names to do your styling, except for adding the margin to the `body`. That is a good thing to add to every CSS file, and it should use the `body` HTML tag name. (UNDERSTOOD AND DONE) */

body {
  margin: 0 auto; /* I prefer 0 auto for any default Margin settings. :) */
}

.body { /* Splitting up the body HTML tag and body Class tag to follow the Stretch Goals instructions to the T. :)  I hope you don't mind that I just named the classes the same as the HTML tags. */
  background-image: url("record.png");
  background-repeat: repeat; /* It does this by default.  Not sure if you were looking for some sort of specific repeating pattern? */
}

.header {
  text-align: center;
  background-color: black;
  color: white;
}

.main {
  padding: 1em;
  background-color: gray;
}
